* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

section {
  p {
    font-size: clamp(2rem, 5vw, 8rem);
  }

  &:nth-of-type(1) {
    height: 100vh;
    background: #f8f8f8;
  }
  &:nth-of-type(2) {
    padding: 0 clamp(4rem, 12vw, 20rem);
  }
  &:nth-of-type(3) {
    height: 100vh;
    color: #ffc329;
    background: #f8f8f8;
  }
  &:nth-of-type(4) {
    height: 100vh;
    padding: 0 clamp(4rem, 12vw, 20rem);
    background: rgb(29, 29, 29);
    color: white;
  }
}

section nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 3vh;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background: #daa520;
}

section nav .logo img {
  width: 350px;
  padding: 2vh 0;
}

section nav .divNavegador {
  display: flex;
  gap: 3vh;
  padding: 10px 20px;
}

section nav .divNavegador a {
  text-decoration: none;
  color: #fff;
  transition: 0.4s ease;
  border-bottom: 3px solid transparent;
}

section nav .divNavegador a:hover {
  border-bottom: 3px solid;
}

section nav .divNavegador .active {
  transition: 0.4s ease;
  border-bottom: 3px solid #fff;
}

section .logIn {
  display: flex;
  gap: 3vh;
}
section .logIn a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #0e48a9;
  padding: 10px 20px;
  border-radius: 10px;
}

section .logIn .fondoLogin {
  background: #0e48a9;
}

section .logIn a:hover {
  background: #082658;
  transition: 0.4s ease;
}

/* fin nav */

section .portada {
  display: flex;
  margin: 0 17vh;
  padding-top: 5vh;
}

section .PortadaIzq {
  display: block;
  align-content: center;
  width: 50vw;
  height: 82vh;
  padding: 0vh 3vh;
}

section .PortadaIzq h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

section .PortadaIzq h3 {
  margin-bottom: 20px;
}

section .PortadaIzq h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

section .PortadaIzq button {
  padding: 1.5vh 4vh;
  border: none;
  border-radius: 10px;
  background: #0e48a9;
  color: #fff;
}

section .PortadaIzq .btnComprar:hover {
  background: #0b3680;
  transition: 0.4s ease;
  cursor: pointer;
}

section .PortadaDer {
  width: 50vw;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.3));
}

section .PortadaDer img {
  max-width: 100%;
  height: 90%;
}

/* Patrocinadores */

section .patrocinadores {
  height: 15vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section .patrocinadores img {
  filter: grayscale(100%);
  transition: 0.4s ease;
}
section .patrocinadores img:hover {
  filter: grayscale(0%);
  transition: 0.4s ease;
}
/* main */

section main {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  padding: 9vh 25vh;
  gap: 40px;
}

section main h2 {
  color: #ffc329;
  font-size: 60px;
}
section main h3 {
  font-size: 25px;
}
section main p {
  font-size: 18px;
}
