* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.phone{
  display: none;
}
.logo img{
  width: 300px;
}
header{
  width: 100%;
}

nav{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a{
  text-decoration: none;
  font-size: 18px;
}

.navegador{
  display: flex;
  gap: 4vh;
}

.submenu{
  display: flex;
  flex-direction: column;
  display: none;
}

/* mostrar productos */

/* fin mostrar productos */

.compra{
  display: flex;
  align-items: center;
  gap: 4vh;
}
.log-in{
  border: 1px solid;
  padding: 1vh 2.5vh;
  border-radius: .6vh;
}
/* fin navegador */
/* portada */
.portada{
  background-image: url(../img/perroPortada.jpg);
  height: 100vh;
  width: 100%;
  background-position: left;
  background-size: cover;
}
.info{
  position: absolute;
  width: 70vh;
  min-height: calc(520px - 6rem);
  top: 30%;
  right: 20vh;
  background-color: hsla(0, 0%, 100%, .85);
  padding: 6vh 3vh;
  border-radius: 1vh;
  border: none;
}
.diamante{
  display: flex;
  align-items: center;
  gap: 2vh;
  margin-bottom: 3vh;
}

.diamante p{
  font-size: 1rem;
  line-height: 1.3125rem;
}
.info h1{
  font-size: 3.4rem;
  line-height: 4rem;
  margin-bottom: 3vh;
}
.info span{
  color: #524656;
}
.info a{
    background: #0E48A9;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    filter: brightness(100%);
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.375rem;
    max-width: 100%;
    min-width: 180px;
    opacity: 1;
    padding: .75rem 1.5rem;
    text-align: center;
    transform: scale(1);
    transition: all .25s ease-out;
}
.info a:hover{
  color: #fff;
  filter: brightness(95%);
  transform: scale(.99);
}

/* fin portada */


.productosTitulos{
  height: 20vh;
  display: flex;
  justify-content: space-between;
  margin: 3vh 10vh;
  transition: all .25s ease-out;
}
.productosTitulos a{
  text-decoration: none;
}

main{
  display: flex;
  transition: all .25s ease-out;
  justify-content: space-evenly
}

main .card-1 .cont-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gainsboro;
  padding: 1vh 2vh 10vh 2vh;
}

main .card-1 .cont-img img{
  width: 100px;
}
/* Responsive */
@media only screen and (max-width: 999px) {
  .navegador a, .log-in, .iconCart{
    display: none;
  }

  .phone{
    display: block;
  }
}
.espacio{
  height: 100vh;
}