* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Crimson Text", serif;
}

section nav {
    display: flex;
    justify-content: space-between;
    padding: 0 3vh;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: #daa520;
}

section nav .logo img {
    width: 100px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
}

section nav .divNavegador {
    position: absolute;
    right: 0;
    display: flex;
    gap: 3vh;
    border: 1px solid #0E48A9;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid transparent;
    background: #0E48A9;
}

section nav .divNavegador a {
    text-decoration: none;
    color: #fff;
    transition: .4s ease;
    border-bottom: 1px solid transparent;
}

section nav .divNavegador .active {
    transition: .4s ease;
    border-bottom: 1px solid #fff;
}

section nav .divNavegador a:not(:nth-of-type(5)):not(:nth-of-type(6)):hover {
    border-bottom: 1px solid;
}

/* fin nav */

section .portada {
    display: flex;
    margin: 0 17vh;
}

section .PortadaIzq {
    width: 50vw;
    height: 82vh;
    padding-top: 5vh;
}

section .PortadaIzq h1 {
    font-size: 60px;
}

section .PortadaIzq h3 {
    padding-top: 8vh;
}

section .PortadaIzq button {
    margin-top: 8vh;
    padding: 1.5vh 2vh;
    border: none;
    border-radius: 20px;
    background: #0E48A9;
    color: #fff;
}

section .PortadaIzq .btnContact {
    margin-left: 3vh;
    background: transparent;
    border: 1px solid #0E48A9;
    font-weight: 600;
}

section .PortadaIzq .btnContact:hover {
    background: #e6ae20;
    transition: .4s ease;
    cursor: pointer;
}

section .PortadaIzq .btnComprar:hover {
    background: #0b3680;
    transition: .4s ease;
    cursor: pointer;
}


section .PortadaDer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.3));
}

section .PortadaDer img {
    max-width: 100%;
    height: 90%;
}

/* Patrocinadores */

section .patrocinadores {
    height: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* main */

section main{
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    padding: 9vh 25vh;
    gap: 40px;
}

section main h2{
    color: #ffc329;
    font-size: 60px;
}
section main h3{
    font-size: 25px;
}
section main p{
    font-size: 18px;
}
