* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  overflow: hidden;
}
.infoBanner{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 0 15vh;
}

.infoBanner .atencionCliente{
  display: flex;
  align-items: center;
  gap: 10px;
}
.infoBanner .atencionCliente a{
  text-decoration: none;
}

.infoBanner .carrito a{
  text-decoration: none ;
}
nav{
  display: flex;
  justify-content: space-around;
  background: #F6761D;
  align-items: center;
  transition: 0.6s;
  width: 100%;
  z-index: 1000;
}

/* nav.sticky{
  background: #FAD835;
  padding: 8px;
  box-shadow: 0 0 5px black;
} */

nav .navegador{
  display: flex;
  align-items: center;
  gap: 5vh;
  height: 5vh;
}

nav .navegador a{
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

nav .carrito{
  display: flex;
  align-items: center;
  gap: 2vh;
}
nav .carrito a, span{
  text-decoration: none;
  color: #fff;
}

.espacio{
  height: 100vh;
}

.banner{
  background-image: url(../img/perroPortada.jpg);
  height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
 
}

.contador{
  display: flex;
  align-items: start;
  gap: 2px;
}
/* FinNavegador */

.info{
  position: absolute;
  top: 30vh;
  right: 20vh;
  background-color: hsla(0, 0%, 100%, .85);
  padding: 6vh 3vh;
  border-radius: 1vh;
  border: none;
  width: 70vh;
  min-height: calc(520px - 6rem);
}

.info .diamante{
  display: flex;
  align-items: center;
  gap: 2vh;
  margin-bottom: 3vh;
}

.info .diamante p{
  font-size: 1rem;
  line-height: 1.3125rem;
}
.info h1{
  font-size: 3.4rem;
  line-height: 4rem;
  margin-bottom: 3vh;
}
.info span{
  color: #524656;
}